pkgbase = ignition-utils-1
	pkgdesc = Classes and functions for robot applications
	pkgver = 1.5.0
	pkgrel = 1
	url = https://gazebosim.org/libs/utils
	arch = any
	license = Apache
	depends = cmake
	depends = ignition-cmake-2
	provides = ignition-utils=1
	source = ignition-utils-1.5.0.tar.gz::https://github.com/gazebosim/gz-utils/archive/ignition-utils1_1.5.0.tar.gz
	sha256sums = 7548368c8d405ce796af524d309e491aafff4c770456e821086489cbd6d75927

pkgname = ignition-utils-1
