pkgbase = pybind11
	pkgdesc = A lightweight header-only library that exposes C++ types in Python and vice versa
	pkgver = 2.10.4
	pkgrel = 1
	url = https://pybind11.readthedocs.org/
	arch = any
	license = BSD
	checkdepends = python-numpy
	checkdepends = python-scipy
	makedepends = cmake
	makedepends = boost
	makedepends = eigen
	makedepends = python
	makedepends = python-setuptools
	makedepends = python-pytest
	optdepends = python: for python bindings
	source = https://github.com/pybind/pybind11/archive/v2.10.4/pybind11-2.10.4.tar.gz
	sha256sums = 832e2f309c57da9c1e6d4542dedd34b24e4192ecb4d62f6f4866a737454c9970

pkgname = pybind11
