pkgbase = ifm3d
	pkgdesc = Library and utilities for working with ifm pmd-based 3D ToF Perception devices. Compatible with the O3R, O3D and O3X platforms. This library is available in python, c++, and has wrappers for ROS and ROS2.
	pkgver = v1.2.6
	pkgrel = 1
	url = https://github.com/ifm/ifm3d
	arch = any
	license = Apache License 2.0
	makedepends = cmake
	makedepends = curl
	makedepends = google-glog
	makedepends = gtest
	makedepends = pybind11
	makedepends = libxmlrpc
	source = ifm3d-v1.2.6.tar.gz::https://github.com/ifm/ifm3d/archive/refs/tags/v1.2.6.tar.gz
	sha256sums = SKIP

pkgname = ifm3d
